NODE_ENV = 'Express environment definition, example: NODE_ENV = development'
MONGO_ATLAS_RW_URL = 'Database connection string for MongoDB Atlas with Read & write permission. This is the Cloud public URL access. Example: MONGO_ATLAS_RW_URL = mongodb+srv://admin:PASSWORD@[ClusterName_in_Atlas].0vx3shf.mongodb.net/[DB_Name_In_Atlas]?retryWrites=true&w=majority'
MONGO_ATLAS_R_URL = 'Database connection string for MongoDB Atlas with Read permission only. This is the Cloud public URL access. Example: MONGO_ATLAS_RW_URL = mongodb+srv://readUser:PASSWORD@[ClusterName_in_Atlas].0vx3shf.mongodb.net/[DB_Name_In_Atlas]?retryWrites=true&w=majority'
MONGO_LOCAL_URL = 'Database connection string for local Server MongoDB. Example: MONGO_LOCAL_URL = mongodb://127.0.0.1:27017/[DB_Name]. Port 27017 is default one but check current config.'
GITHUB_CLIENTID = 'GitHUB Application ID defined in web. Example: GITHUB_CLIENTID = Iv1.#$%&/()=?'
GITHUB_CLIENTSECRET = 'GitHUB Application ID Secret defined in web. Example: GITHUB_CLIENTSECRET = [hex secret characters displayed only once in web]'
MONGO_STORE_SESSION_URL_SECRET = 'Mongo Session URL DB Secret connectionString. Example: MONGO_STORE_SESSION_URL_SECRET = RANDOM PASS or the one defined by you'
MONGO_STORE_SESSION_SECRET = 'Mongo Session URL secret password. Example: MONGO_STORE_SESSION_SECRET = RANDOM PASS or the one defined by you'
MONGO_STORE_COOKIE_SESSION_MAXAGE = 'Mongo session store duration in milisecs. Example: MONGO_STORE_COOKIE_SESSION_MAXAGE = 1800000 (1800000 milisecs = 30 MINUTES)'
PORT = 'Express HTTP server port definition. Example: PORT = 8080'
EMAIL_PORT_ETHEREAL = 'Ethereal fake email service port. Example: EMAIL_PORT_ETHEREAL = 587. More details in https://ethereal.email'
EMAIL_HOST = 'Ethereal fake email service host. Example: EMAIL_HOST = smtp.ethereal.email. More details in https://ethereal.email'
FAKEMAIL = 'Ethereal fake email service user address. Example: FAKEMAIL = something@ethereal.email. More details in https://ethereal.email'
PASSWORD = 'Ethereal fake email service user password. Example: PASSWORD = ljafhkahf%&/() (Random character generated in the web). More details in https://ethereal.email'
NAME = 'Ethereal fake email service user Name. Example: NAME = John Doe (Random Username generated in the web). More details in https://ethereal.email'
RESET_TOKEN_EXPIRATION = 'Password reset token expiration in seconds. Example: RESET_TOKEN_EXPIRATION = 3600 (1 hour)'
DEBUG = 'Debug FLAG to skip user role permissions. Ability to test server from end to end without considering role access layer. Example: DEBUG = TRUE // DEBUG = 1'