<h1>JSON Express server!</h1>
<h2>Available paths</h2>
<ul>
    <li>/ = Products list</li>
    <li>/realtimeproducts = List of products with changes in realtime</li>
    <li>/chat = An instant message chat without user registration. Username duplication is not validated.</li>
<ul>


<h2>List of APIs in /api</h2>
<ul>
    <li>/api/carts/[ID] = Cart ID</li>
    <li>/api/products = List of products</li>
    <li>/api/products/[ID] = Product ID</li>
<ul>